@use './../Components.scss';

section {
    display: grid;
    place-items: center;
    // padding: min(10vh, 100px) 2em;
    padding: min(3vh, 50px) 2em;

    box-sizing: border-box;
    gap: 24px 0;
    margin: 0 auto;

    h1.sub-team__title {
        margin: 0;
        // margin-bottom: 24px;

        width: fit-content;
        font-weight: 400;
        color: transparent;
        font-size: 4em;
        background-image: var(--sky-gradient);
        -webkit-background-clip: text;
        background-clip: text;
    }

    .sub-team__description {
        // margin-bottom: 24px;
        margin: 0;
        width: min(100%, 614px);
        font-weight: 400;
        color: #000a;
        text-align: center;
    }

    .sub-team-card {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 6px;
        background: #fff;
        box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        color: var(--card-color, #555);


        width: min(91vw, 1312px);
        box-sizing: border-box;

        &__bottom-border {
            grid-column: span 2;
            background: linear-gradient(90deg, #FF7800 0%, #F80032 20%, #FF00A0 40%, #8C28FF 60%, #0023FF 80%, #1798FF 100%);
            border-radius: 0 0 8px 8px;

        }

        &__left {
            // padding: 40px min(2vw, 40px);
            padding: 40px clamp(15px, 3vw, 40px);

            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            gap: 24px;
            height: var(--img-height);

            .sub-team-card__title {
                // height: 2lh;
                // display: grid;
                // place-items: center;
                margin: 0;
                font-weight: 400;
                color: transparent;
                font-size: min(calc(1.7em + 0.8vw), 2.5em);
                background-image: var(--sky-gradient);
                -webkit-background-clip: text;
                background-clip: text;
            }

            .sub-team-card__body {
                margin: 0;
                max-height: max(6lh, 110px);
                overflow-y: auto;
                text-wrap: balance;
            }

            .sub-team-card__tag {
                cursor: pointer;
                font-size: 1.5em;
                place-self: start;

                button {
                    @extend .buttons;


                }

            }
        }

        &__right {
            display: grid;
            place-items: stretch;
            border-radius: 0 8px 8px 0;
            isolation: isolate;

            --img-height: 424px;

            >div,
            >img,
            >video,
            >iframe {
                grid-column: 1;
                grid-row: 1;
            }

            >img,
            >video,
            >iframe {
                max-width: 100%;
                max-height: 100%;
                height: max(50vh, var(--img-height));
                object-fit: cover;
                border-radius: 0 8px 0 0;
                transition: opacity 0.5s ease-in-out;
            }

            img.sub-team-card__img {

                grid-column: 1;
                grid-row: 1;
                z-index: 5;

                &--transparent {
                    opacity: 0;
                }
            }

            >iframe,
            >video {
                z-index: 30;

                border: none;
                margin: 0;
                padding: 0;
                height: 100%;

            }

            .sub-team-card__video-icon {
                grid-column: 1;
                grid-row: 1;
                z-index: 10;
                place-self: center;

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0;

                cursor: pointer;

                &.hide {
                    display: none;
                    pointer-events: none;
                }


                svg {
                    z-index: 20;
                    transition: filter 0.2s linear;

                    &:hover {
                        filter: brightness(0.95);
                    }
                }

                h5.sub-team-card__video-play-title {

                    --bg-blur: 5px;
                    transform: translateX(-10px);
                    z-index: 15;
                    padding: 1em;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(var(--bg-blur));
                    -webkit-backdrop-filter: blur(var(--bg-blur));
                    border-radius: 8px;
                    ;
                    color: white;

                    transition: backdrop-filter 0.3s ease, -webkit-backdrop-filter 0.3s ease;

                    &:hover {
                        --bg-blur: 10px;

                    }
                }

            }
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}