
@font-face {
  font-family: 'Sky Regular';
  src: url('https://static.skyassets.com/fonts/sky-regular.woff2') format('woff2');
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: 'Sky Medium';
  src: url('https://static.skyassets.com/fonts/sky-medium.woff2') format('woff2');
  font-weight: 500; /* Medium weight */
}

:root {
  --sky-gradient: linear-gradient(90deg, #FF7800 0%, #F80032 20%, #FF00A0 40%, #8C28FF 60%, #0023FF 80%, #1798FF 100%);
  --sky-grey: #535353;
  --sky-grey-2: #555;

  --sky-blue: #000ff5;

  --white-1: #f5f6fa;
  /* --sky-blue: #000ff580; */
  
  
  --body-bg: var(--white-1);
  --body-col:  var(--sky-grey);
  --pills-color: var(--sky-grey);

  --card-color: var(--sky-grey-2);
  /* --pills-color: var(--sky-grey); */

  --pills-selected-bg-color: var(--sky-blue);
  --cta-border-col: var(--sky-blue);
}

body {
  background-color: var(--body-bg);
  color: var(--body-col);
  font-family: 'Sky Regular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  height: 100vh;
  height: 100dvh;
  height: 100svh;

  box-sizing: border-box;
  margin: 0 auto;
}